<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UdpTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <UdpTool.Properties.Settings>
            <setting name="sourceAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="sourcePort" serializeAs="String">
                <value />
            </setting>
            <setting name="multicastGroupAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="destinationAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="destinationPort" serializeAs="String">
                <value />
            </setting>
            <setting name="inputText" serializeAs="String">
                <value />
            </setting>
            <setting name="outputText" serializeAs="String">
                <value />
            </setting>
        </UdpTool.Properties.Settings>
    </userSettings>
</configuration>
