<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KafkaClientTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <KafkaClientTool.Properties.Settings>
            <setting name="clientGroupId" serializeAs="String">
                <value>test-group</value>
            </setting>
            <setting name="produceToTopic" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="output" serializeAs="String">
                <value />
            </setting>
            <setting name="input" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="bootstrapServers" serializeAs="String">
                <value>localhost:9092</value>
            </setting>
            <setting name="subscribeToTopic" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="cacert" serializeAs="String">
                <value>cacert.pem</value>
            </setting>
            <setting name="fetchMinBytes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fetchMaxWaitMs" serializeAs="String">
                <value>100</value>
            </setting>
        </KafkaClientTool.Properties.Settings>
    </userSettings>
</configuration>