[submodule "NetHexToBin"]
	path = NetHexToBin
	url = https://github.com/tewarid/NetHexToBin.git
[submodule "websocket-sharp"]
	path = websocket-sharp
	url = https://github.com/sta/websocket-sharp.git
