<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MqttClientTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <MqttClientTool.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="useTls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useWebSocket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topicPublish" serializeAs="String">
                <value>test/topic</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="clientId" serializeAs="String">
                <value />
            </setting>
            <setting name="topicSubscribe" serializeAs="String">
                <value>test/topic</value>
            </setting>
            <setting name="inputText" serializeAs="String">
                <value />
            </setting>
            <setting name="outputText" serializeAs="String">
                <value />
            </setting>
        </MqttClientTool.Properties.Settings>
    </userSettings>
</configuration>