<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AmqpClientTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AmqpClientTool.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>5672</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="useTls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value/>
            </setting>
            <setting name="receiverLinkName" serializeAs="String">
                <value>receiver-link</value>
            </setting>
            <setting name="receiverLinkAddress" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="senderLinkName" serializeAs="String">
                <value>sender-link</value>
            </setting>
            <setting name="senderLinkAddress" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="outputText" serializeAs="String">
                <value/>
            </setting>
            <setting name="inputText" serializeAs="String">
                <value>test</value>
            </setting>
        </AmqpClientTool.Properties.Settings>
    </userSettings>
</configuration>
