<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="All, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="c:\log\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <!-- The following service configuration is for reference only -->
  <!--system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="webSocketHttpBinding">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="WebSocketServerTool.Service">
        <endpoint address="http://localhost:8088" binding="customBinding" bindingConfiguration="webSocketHttpBinding" contract="WebSocketServerTool.IService"/>
      </service>
    </services>
  </system.serviceModel-->
  <!--system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="webSocketHttpBinding">
          <byteStreamMessageEncoding/>
          <httpsTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="mycompany.com" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WebSocketServerTool.Service" behaviorConfiguration="customBehavior">
        <endpoint address="https://localhost:8088" binding="customBinding" bindingConfiguration="webSocketHttpBinding" contract="WebSocketServerTool.IService"/>
      </service>
    </services>
  </system.serviceModel-->
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
